* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9f2fb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #0066cc;
    margin-bottom: 20px;
}

#option {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #444;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #0066cc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0066cc;
    color: white;
    border-color: #005bb5; /
}

select:hover {
    border-color: #005bb5;
}


button#loadFile {
    background-color: #4e8df2;
    border-color: #3178c6;
    color: white;
}

button#loadFile:hover {
    background-color: #3178c6;
    border-color: #1e63a2;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

#target {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
    #option {
        width: 90%;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}

li {
    flex: 1 0 5.5%;
    margin: 5px;
    text-align: center;
}
